<h1>Change your password</h1>

<p>
  Hi <%= @user.name %>,
</p>
<p>
  To reset your password, click on the link below:
</p>
<p>
  <%= link_to 'Reset my password', edit_password_reset_url(@user.reset_token,
                                                           email: @user.email) %>
</p>
<p>
  This link will expire in two hours.
</p>
<p>
  If you didn't ask to change your password, please ignore this email. Your password will stay as it is.
</p>
<p>
  Regards.
</p>
<p>
  The Agency team.
</p>
