<% provide(:title, 'Contact') %>
<div class="center">
<h1>Solicom</h1>
<h2>Agence citoyenne et solidaire de communication</h2>
<%= mail_to 'bastienbrunis@gmail.com', 'Contact', class: "btn btn-lg btn-primary" %>
</div>
