<% if logged_in? %>

  <div class="row">
    <aside class="col-md-6">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="article_form">
        <%= render 'shared/article_form' %>
      </section>
    </aside>
    <div class="col-md-5 col-md-offset-1">
      <h2>All articles on the blog</h2>
      <%= render 'shared/feed' %>
    </div>
  </div>

<% else %>

  <div class="jumbotron">
    <h1>Latest articles on agency's blog</h1>
    <ol class="home_articles">
      <%= render 'articles/articles' %>
    </ol>
  </div>

  <div class="center">
    <i class="fa fa-compass fa-5x" id="agency-logo"></i>
    <span id="inpage-logo">Agency</span>
  </div>

<% end %>
