<div class="center jumbotron">
  <h1>Agency</h1>
  <h2>Let's communicate!</h2>
  <%= mail_to 'agency@example.com', 'Contact', class: "btn btn-lg btn-default" %>
</div>
<div class="center">
  <i class="fa fa-compass fa-5x" id="agency-logo"></i><h3>AGENCY</h3>
</div>
