<% provide :title, "#{@tag.name}: all articles" %>

<div class="row">
  <aside class="col-md-3">
    <section class="available_tags">
      <h1>All tags</h1>
      <%= render 'tags/index' %>
    </section>
  </aside>
  <div class="col-md-9">
    <h1>Articles tagged with <%= @tag.name %></h1>
    <ol class="articles">
    <%= render @articles %>
    </ol>
  </div>
</div>
