<footer class="footer">
  <small>
    Solicom | Agence citoyenne et solidaire de communication (version bêta)
  </small>
  <nav>
    <ul  class="nav navbar-nav navbar-right">
    </ul>
  </nav>
</footer>
