<footer class="footer">
  <small>
    Solicom | Agence citoyenne et solidaire de communication
  </small>
  <nav>
    <ul  class="nav navbar-nav navbar-right">
      <li><%= link_to 'Contact', contact_path %></li>
    </ul>
  </nav>
</footer>
