<footer class="footer">
  <small>Solicom // Agence citoyenne et solidaire de communication <br/>// SAS au capital de 5.000 € // RCS Bobigny : 810 866 103 // Pépinière de La Courneuve // 1 centre commercial La Tour // 93120 La Courneuve <br/>// +33 6 76 08 08 69 // www.agencesolicom.fr
  </small>
  <nav>
    <ul  class="nav navbar-nav navbar-right">
    </ul>
  </nav>
</footer>
