<footer class="footer">
  <small>
    The Sample App
  </small>
  <nav>
    <ul  class="nav navbar-nav navbar-right">
      <li><%= link_to 'Home', "#" %></li>
      <li><%= link_to 'Help', "#" %></li>
      <li><%= link_to 'About', "#" %></li>
    </ul>
  </nav>
</footer>
