<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to 'Solicom', root_path, id: "logo" %>
    <nav>
      <ul  class="nav navbar-nav navbar-right">
        <li id="beta">Version bêta</li>
      </ul>
    </nav>
  </div>
</header>
